# Images, labels and videos
*.png
*.jpg
*.csv
*.avi
*.MOV
*.mp4
*.txt
/images
/yolov5/runs
*.zip

# Config files
*.pyc
.vscode

# Model weights
*.pt 

# Virtual environment
/venv

# Random test file
test.py